<html>
    <head>
        <meta charset="UTF-8">
        <title>Cadastro de produtos</title>
    </head>
    <body>
        <div class='erros'>
            <%if(errosValidacao){%>
                <ul>
                    <%for(var i=0; i<errosValidacao.length; i++){%>
                        <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                    <%}%>
                </ul>
            <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="Coloque o título"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="150.25"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10" type="text" id="descricao" name="descricao" placeholder="Fale sobre o título"><%=produto.descricao%></textarea>
            </div>
            <input type="submit" value="Gravar"/>
        </form>
    </body>
</html>